extends ../layout

block content
    form(action=url, enctype='multipart/form-data', method='post')
        p
            | Please specify a file, or a set of files:
            br
            input(type='file', name='uploadedFile' accept='image/*')
        div
            input(type='submit', value='Send')

